* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish';
  /* border: 1px solid black; */
}

body {
  display: grid;
  grid-template-columns: minmax(auto, 450px) auto;
  height: 100vh;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (max-width: 650px) {
  body {
    grid-template-columns: 1fr;
  }
  #container-tema-lol {
    display: none;
  }
}