#container-principal {
  display: grid;
  grid-template-rows: 25% 1fr 15% 15%;
  background-color: #f9f9f9;
  height: 100vh;
}

#logo-riot {
  max-width: 130px;
  margin: 0 auto;
  justify-self: center;
  align-self: center;
}

#container-formulario {
  justify-self: center;
  width: 70%;
}

#titulo-login {
  text-align: center;
  ct: none;
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 10px;
}

#formulario-login {
  display: flex;
  flex-direction: column;
}

#campo-usuario.erro {
  background-color: #f3e3f5;
  border: 2px solid #eabfef;
}

#campo-usuario.erro:focus-visible {
  outline: 0;
}

#msg-erro-usuario {
  display: none;
  font-size: 0.9rem;
  font-weight: 800;
  color: #be29cc;
  margin-top: 5px;
}

#icone-erro-usuario {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #be29cc;
  margin-left: 3px;
  margin-right: 8px;
  transform: rotate(45deg);
  position: relative;
}

#icone-erro-usuario img {
  transform: rotate(-45deg);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 1px;
  left: 1px;
}

#campo-usuario.erro + #msg-erro-usuario {
  display: block;
}

.formulario-campos {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  border: 2px solid #ededed;
  border-radius: 4px;
  padding: 20px;
  background-color: #ededed;
  font-weight: 800;
}

.formulario-campos::placeholder {
  font-size: 0.7rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #999999;
}

.formulario-campos:hover {
  background-color: #e7e7e7;
}

.formulario-campos:focus {
  background-color: #f9f9f9;
}

#links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
}

#links li {
  list-style: none;
  width: 32%;
}

.formulario-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 4px;
}

#links img {
  width: 20px;
  height: 20px;
}

#link-facebook {
  background-color: #1877f2;
  border: 2px solid #1771e6;
  box-sizing: border-box;
}

#link-facebook:hover {
  background-color: #0966de;
  border: 2px solid #0961d3;
}

#link-google {
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
}

#link-google:hover {
  background-color: #f7f7f7;
  border: 2px solid #eaeaea;
}

#link-apple {
  background-color: #000000;
  border: 2px solid #0d0d0d;
  box-sizing: border-box;
}

#link-apple:hover {
  background-color: #141414;
  border: 2px solid #202020;
}

#container-checkbox {
  display: flex;
}

#container-checkbox label {
  font-weight: bold;
  font-size: 0.85rem;
  ct: none;
  margin-left: 5px;
}

#botao-login {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 2px solid #e8e8e8;
  border-radius: 20px;
  justify-self: center;
  align-self: flex-end;
}

#botao-login.ativo {
  background-color: #d13639;
  border: 4px solid #d13639;
  cursor: pointer;
}

#botao-login.ativo:hover {
  background-color: #bc252a;
  border: 4px solid #bc252a;
}

#botao-login img {
  width: 30px;
  margin: 0 auto;
}

#container-final {
  position: relative;
  align-self: center;
}

#recuperar-conta, #criar-conta {
  font-size: 0.7rem;
  font-weight: 900;
  text-transform: uppercase;
  ct: none;
  text-align: center;
  width: 100%;
}

#recuperar-conta a, #criar-conta a {
  color: #b2b2b2;
}

#recuperar-conta a:hover, #criar-conta a:hover {
  color: #111111;
}

#versao {
  position: absolute;
  bottom: -5px;
  right: 10%;
  font-size: 0.7rem;
  font-weight: 800;
  color: #c7c7c7;
  cursor: pointer;
}

#versao:hover {
  color: #7e7e7e;
}