#container-principal {
  display: grid;
  grid-template-rows: 25% auto auto 150px;
  background-color: #f9f9f9;
}

#logo-riot {
  max-width: 130px;
  margin: 0 auto;
  justify-self: center;
  align-self: center;
}

#container-formulario {
  justify-self: center;
}

#titulo-login {
  text-align: center;
  user-select: none;
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 10px;
}

#formulario-login {
  display: flex;
  flex-direction: column;
}

.formulario-campos {
  display: block;
  box-sizing: border-box;
  width: 300px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  padding: 20px;
  background-color: #ededed;
  font-weight: 800;
}

.formulario-campos:hover {
  background-color: #e7e7e7;
}

.formulario-campos::placeholder {
  font-size: 0.7rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #999999;
}

#links {
  display: flex;
  justify-content: space-between;
}

#links li {
  list-style: none;
}


.formulario-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 35px;
  border-radius: 4px;
}

#links {
  margin-top: 30px;
  margin-bottom: 10px;
}

#link-facebook {
  background-color: #1877f2;
}

#link-facebook:hover {
  background-color: #0966de;
}

#link-google {
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
}

#link-google:hover {
  background-color: #f7f7f7;
}

#link-google img {
  width: 20px;
  height: 20px;
}

#link-apple {
  background-color: #000000;
}

#link-apple:hover {
  background-color: #141414;
}

#link-apple img {
  width: 20px;
  height: 20px;
}

#container-checkbox {
  display: flex;
}

#container-checkbox label {
  font-weight: bold;
  font-size: 0.85rem;
  user-select: none;
  margin-left: 5px;
}

#botao-login {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 2px solid #e8e8e8;
  border-radius: 20px;
  justify-self: center;
  align-self: flex-end;
}

#botao-login.ativo {
  background-color: #d13639;
  border: 4px solid #d13639;
  cursor: pointer;
}

#botao-login.ativo:hover {
  background-color: #bc252a;
  border: 4px solid #bc252a;
}

#botao-login img {
  width: 30px;
  margin: 0 auto;
}

#container-final {
  position: relative;
  align-self: center;
}

#recuperar-conta, #criar-conta {
  font-size: 0.7rem;
  font-weight: 900;
  text-transform: uppercase;
  user-select: none;
  text-align: center;
  width: 100%;
}

#recuperar-conta a, #criar-conta a {
  color: #b2b2b2;
}

#recuperar-conta a:hover, #criar-conta a:hover {
  color: #111111;
}

#versao {
  position: absolute;
  bottom: -5px;
  right: 10%;
  font-size: 0.7rem;
  font-weight: 800;
  color: #c7c7c7;
  cursor: pointer;
}

#versao:hover {
  color: #7e7e7e;
}