#container-modal-versao {
  position: absolute;
  display: none;
  z-index: 1;
}

#container-modal-versao.ativo {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-versao {
  display: grid;
  grid-template-rows: 20% auto auto;
  justify-items: center;
  border-radius: 6px;
  background-color: white;
  min-width: 30vw;
  min-height: 45vh;
  animation: mostrar-modal .3s;
}

#versao-btn-fechar {
  background-color: #eeeeee;
  font-size: 1rem;
  font-weight: bold;
  font-family: cursive;
  justify-self: end;
  border: none;
  border-radius: 4px;
  margin-top: 3%;
  margin-right: 3%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#versao-btn-fechar:hover {
  background-color: #e9e9e9;
}

#modal-versao h1 {
  font-size: 1.5rem;
  text-align: center;
}

#modal-versao p {
  margin: 20px 30px 0 30px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #6f6f6f;
  text-align: center;
}

#informacoes {
  animation: mostrar-infos .3s;
}

#background-btn-ok {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 6px 6px;
  background-color: #f0f0f0;
  width: 100%;
}

#btn-ok {
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 55%;
  background-color: #292727;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

#btn-ok:hover {
  background-color: #211e1f;
}

@keyframes mostrar-modal {
  from {
    opacity: 0;
    transform: translate3d(0, 15px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes mostrar-infos {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 700px) {
  #versao-btn-fechar {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }
  #modal-versao p {
    font-size: 1rem;
  }
  #modal-versao h1 {
    font-size: 1.3rem;
  }
  #btn-ok {
    font-size: 1.1rem;
  }
}