#container-modal {
  position: absolute;
  display: none;
}

#container-modal.ativo {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#modal {
  display: grid;
  grid-template-rows: 70px auto auto;
  justify-items: center;
  border-radius: 6px;
  background-color: white;
  width: 600px;
  height: 450px;
}

#modal h1 {
  font-size: 1.5rem;
}

#modal p {
 margin: 20px;
 font-size: 1.2rem;
 font-weight: 500;
 color: #6f6f6f;
 text-align: center;
}

#btn-fechar {
  font-size: 1rem;
  font-weight: bold;
  font-family: cursive;
  justify-self: end;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#background-btn-ok {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 6px 6px;
  background-color: #f0f0f0;
  width: 100%;
}

#btn-ok {
  border: none;
  border-radius: 10px;
  width: 450px;
  height: 60px;
  background-color: #292727;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}