@import './modal.css';

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

body {
  display: grid;
  grid-template-columns: 1fr auto;
  font-family: 'Mulish';
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: #f9f9f9;
  position: relative;
}

img {
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
  user-select: none;
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 10px;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 70px;
}

.formulario-campos {
  display: block;
  box-sizing: border-box;
  width: 300px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  padding: 20px;
  background-color: #ededed;
  font-weight: 800;
}

.formulario-campos:hover {
  background-color: #e7e7e7;
}

.formulario-campos::placeholder {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #b2b2b2;
}

.formulario-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 35px;
  border-radius: 4px;
}

#logo-riot {
  padding: 100px;
  width: 130px;
  margin: 0 auto;
}

#links {
  margin-top: 30px;
  margin-bottom: 10px;
}

#link-facebook {
  background-color: #1877f2;
}

#link-facebook:hover {
  background-color: #0966de;
}

#link-google {
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
}

#link-google:hover {
  background-color: #f7f7f7;
}

#link-google img {
  width: 20px;
  height: 20px;
}

#link-apple {
  background-color: #000000;
}

#link-apple:hover {
  background-color: #141414;
}

#link-apple img {
  width: 20px;
  height: 20px;
}

#container-checkbox {
  display: flex;
}

#formulario-checkbox-texto {
  font-weight: bold;
  font-size: 0.85rem;
  user-select: none;
  margin-left: 5px;
}

form button {
  margin-top: 200px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 4px solid #e8e8e8;
  border-radius: 20px;
  align-self: center;
}

form button.ativo {
  background-color: #d13639;
  border: 4px solid #d13639;
  cursor: pointer;
}

form button.ativo:hover {
  background-color: #bc252a;
  border: 4px solid #bc252a;
}

#recuperar-conta {
  font-size: 0.7rem;
  font-weight: 800;
  text-transform: uppercase;
  user-select: none;
  padding-bottom: 50px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

#recuperar-conta a {
  color: #b2b2b2;
}

#recuperar-conta a:hover {
  color: #111111;
}

footer {
  position: absolute;
  right: 50px;
  bottom: 47px;
}

#versao {
  font-size: 0.7rem;
  font-weight: 800;
  color: #c7c7c7;
  cursor: pointer;
}

#versao:hover {
  color: #7e7e7e;
}

#tema-lol {
  height: 100%;
  object-fit: cover;
}

#container-tema-lol {
  position: relative;
}

#botao-usuario {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  margin: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
  border-radius: 20px;
  padding: 10px;
  width: 70px;
  background-color: #23272b;
  cursor: pointer;
  transition: filter 0.5s;

}

#botao-usuario:hover {
  filter: brightness(130%);
}